/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav-links{
  display: flex;
  align-items: center;
  background: #0b4685;
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.nav-links li{
  list-style: none;
  margin: 0 12px;
}
.nav-links li a{
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before{
  width: 100%;
}
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

body {
    background: #ffffff;
    margin-top: 20px;
    background-image: url('image/2591833781.jpg');
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: #0b4685;
    background  : #0b4685;
    color       : #0b4685;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #0b4685;
    background  : #0b4685;
    color       : #0b4685;
}

.btn {
    cursor: pointer;
}

.blue-text {
    color: #0b4685;
}

.text-light {
    color: #f1f2f3 !important;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.block-button.active {
    background-color: #0b4685 !important;
    color: #0b4685!important;
    border-color: #000000 !important;
}

.account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: #ffffff !important;
    color: #000000!important;
    transition: background-color 0.3s; /* Efek transisi untuk perubahan warna latar belakang */
}

.account-settings-links .list-group-item.active,
.account-settings-links .list-group-item:hover {
    background-color: #0b4685; /* Warna biru pada hover dan aktif */
}

.account-settings-links .list-group-item.active {
    background-color: #05376b;
    color: #ffffff; /* Warna teks pada tab yang aktif */
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: #0b4685 !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: #ffffff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #ffffff!important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: #ffffff !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #ffffff !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: #ffffff !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #ffffff !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: #ffffff !important;
}

.account-info-background {
    color: #ffffff;
}


