<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Menu</title>
  <link rel="stylesheet" href="main_menu.css">
</head>
<body>
  <img src="image/gmf9.png" alt="Login Image" style="width: 100%; max-width: 500px; margin-bottom: 0px; margin-left: 0px;">
  <h2>Design Monitoring Apps</h2>
  <div id="app">
    <div v-for="(radio, index) in radios" :key="index">
      <input type="radio" :id="'radio-' + index" v-model="selectedRadio" :value="index">
      <label :for="'radio-' + index">{{ radio.label }}</label>
    </div>
    <p></p>
    <p>Anda memilih: {{ radios[selectedRadio].label }}</p>
    <button @click="movePage">Submit</button>
  </div>

  <button>Exit</button>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="main_menu.js"></script>
</body>
</html>
