/* style.css */
#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
    color: #2f61b2;
    font-weight: bold;
    position: relative; /* Menambahkan properti posisi relatif untuk menetapkan posisi absolut pada button */
}

body {
    background-color: #d1eaf0;
}

h2 {
    color: #993366;
}

.exit-button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px; /* Menambahkan margin agar tombol tidak menutupi elemen lainnya */
}
