<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="IOR.css">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>NCR Replay</title>
</head>

<body>
    <ul class="nav-links">
        <img src="image/gmf9.png" alt="Login Image"
            style="width: 95%; max-width: 300px; margin-bottom: 0px; margin-left: 0px;">
        <li><a href="main_menu.html">Home</a></li>
        <li class="center"><a href="Account.html">Account</a></li>
        <li class="upward dropdown">
            <a href="#">Audit</a>
            <ul class="dropdown-content">
                <li><a href="NCR_Form.html">NCR Form</a></li>
                <li><a href="NCR_Searching.html">Searching NCR</a></li>
                <li><a href="Follow_NCR.html">Follow On</a></li>
            </ul>
        </li>
        <li class="upward dropdown">
            <a href="#">Occurrence</a>
            <ul class="dropdown-content">
                <li><a href="IOR_Form.html">IOR Form</a></li>
                <li><a href="IOR_Searching.html">Searching IOR</a></li>
                <li><a href="Follow_Occur.html">Follow On</a></li>
                <!-- <li><a href="#">Edit IOR</a></li> -->
            </ul>
        </li>
        <li><a href="#">Personel</a></li>
        <li><a href="#">Project</a></li>
        <li class="upward dropdown">
            <a href="#">Link</a>
            <ul class="dropdown-content">
                <li><a href="https://imsis-djpu.dephub.go.id/PortalDKPPU/" target="_blank">DGCA</a></li>
                <li><a href="https://www.easa.europa.eu/en/regulations" target="_blank">EASA</a></li>
            </ul>
        </li>
        <li class="forward"><a href="#">User Guide</a></li>
        <li class="forward"><a href="index.html">Log Out</a></li>
    </ul>

    <div class="container" id="app">
        <header>
            <div class="ncr-title">NCR_Replay</div>
            <header>
            </header>
        </header>
        <form @submit.prevent="IOR" action="#">
            <div class="form first">
                <div class="details personal">
                    <div class="fields">
                        <div class="input-field" v-for="(value, key) in NCR_rply_data" :key="key">
                            <label>{{ key.replace(/_/g, ' ').replace(/(?:^|\s)\S/g, match =>
                                match.toUpperCase()).replace(/Id/gi,'ID').replace(/ncr/gi, 'NCR')}}</label>
                            <input v-if="key === 'identified_date' ||key === 'audit_accept' " type="date" v-model="NCR_rply_data[key]" required>
                            <input v-else-if="key === 'accountid'" v-model="currentAccountID" readonly>
                            <input v-else type="text" placeholder="Enter your data" v-model="NCR_rply_data[key]" required>
                        </div>
                    </div>
                </div>
                <button class="nextBtn" type="submit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </form>
        <p>{{ loginMessage }}</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.esm-browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"
        integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module">
        import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

        createApp({
            data() {
                return {
                    title: "IOR",
                    currentAccountID:'',
                    NCR_rply_data: {
                        accountid: '',
                        ncr_init_id: '',
                        rca_problem: '',
                        corrective_act: '',
                        preventive_act: '',
                        identified_by: '',
                        identified_date: '',
                        accept_by: '',
                        audit_accept: '',
                        temporarylink: '',
                        Recommend_corrective_action:''
                    },
                    loginMessage: ''
                };
            },
            mounted() {
                const accountid = sessionStorage.getItem('accountid');
                if (accountid) {
                    this.currentAccountID = accountid;
                } else {
                    window.location.href = 'login.html';
                }
            },
            methods: {
                redirectToMainMenu() {
                    window.location.href = 'main_menu.html';
                },
                async IOR() {
                    this.NCR_rply_data.accountid = this.currentAccountID;
                    console.log("Sending data:", this.NCR_rply_data);
                    try {
                        const response = await axios.post("http://localhost:3000/addNCRReply", this.NCR_rply_data);
                        console.log(this.NCR_rply_data);

                        if (response.data.status === 200) {
                            this.loginMessage = 'NCR Reply added successfully';
                        } else {
                            this.loginMessage = 'Failed to add NCR Reply';
                        }
                    } catch (error) {
                        console.error("Error during login:", error);
                        this.loginMessage = 'Failed to add occurrence' + error;
                    }
                },
            }
        }).mount('#app');
    </script>
</body>

</html>