.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .text-wrapper {
  position: absolute;
  width: 144px;
  top: 122px;
  left: 54px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  width: 310px;
  top: 208px;
  left: 54px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 60px;
  top: 214px;
  left: 587px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 143px;
  top: 208px;
  left: 903px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap {
  position: absolute;
  width: 281px;
  height: 48px;
  top: 261px;
  left: 903px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 218px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle {
  position: absolute;
  width: 90px;
  height: 46px;
  top: 2px;
  left: 191px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 93px;
  top: 261px;
  left: 587px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 1187px;
  height: 71px;
  top: 111px;
  left: 198px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 211px;
  height: 46px;
  top: 209px;
  left: 364px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 211px;
  height: 46px;
  top: 209px;
  left: 680px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 327px;
  height: 46px;
  top: 210px;
  left: 1058px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .overlap-group {
  position: absolute;
  width: 189px;
  height: 249px;
  top: 262px;
  left: 1196px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .img {
  position: absolute;
  width: 35px;
  height: 39px;
  top: 52px;
  left: 4px;
}

.desktop .rectangle-6 {
  position: absolute;
  width: 27px;
  height: 31px;
  top: 94px;
  left: 8px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .rectangle-7 {
  position: absolute;
  width: 27px;
  height: 31px;
  top: 138px;
  left: 8px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .rectangle-8 {
  position: absolute;
  width: 27px;
  height: 31px;
  top: 186px;
  left: 8px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 166px;
  top: 4px;
  left: 22px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 52px;
  left: 42px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 96px;
  left: 42px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 138px;
  left: 42px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 186px;
  left: 42px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-9 {
  position: absolute;
  width: 211px;
  height: 46px;
  top: 255px;
  left: 680px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .overlap-2 {
  position: absolute;
  width: 521px;
  height: 47px;
  top: 255px;
  left: 54px;
}

.desktop .text-wrapper-12 {
  width: 402px;
  top: 0;
  left: 0;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-10 {
  position: absolute;
  width: 211px;
  height: 46px;
  top: 1px;
  left: 310px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .text-wrapper-13 {
  position: absolute;
  width: 175px;
  top: 352px;
  left: 54px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-3 {
  position: absolute;
  width: 470px;
  height: 62px;
  top: 558px;
  left: 54px;
}

.desktop .text-wrapper-14 {
  position: absolute;
  width: 175px;
  top: 10px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-11 {
  position: absolute;
  width: 335px;
  height: 62px;
  top: 0;
  left: 135px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .overlap-4 {
  position: absolute;
  width: 470px;
  height: 62px;
  top: 629px;
  left: 54px;
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 175px;
  top: 2px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-5 {
  position: absolute;
  width: 470px;
  height: 62px;
  top: 696px;
  left: 54px;
}

.desktop .text-wrapper-16 {
  position: absolute;
  width: 175px;
  top: 12px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-17 {
  top: 861px;
  left: 50px;
  position: absolute;
  width: 250px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-6 {
  position: absolute;
  width: 281px;
  height: 62px;
  top: 849px;
  left: 385px;
}

.desktop .text-wrapper-18 {
  top: 12px;
  left: 0;
  position: absolute;
  width: 250px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-12 {
  position: absolute;
  width: 61px;
  height: 62px;
  top: 0;
  left: 220px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .overlap-7 {
  position: absolute;
  width: 500px;
  height: 62px;
  top: 849px;
  left: 696px;
}

.desktop .rectangle-13 {
  position: absolute;
  width: 335px;
  height: 62px;
  top: 0;
  left: 165px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .text-wrapper-19 {
  position: absolute;
  width: 278px;
  top: 446px;
  left: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-14 {
  position: absolute;
  width: 909px;
  height: 78px;
  top: 330px;
  left: 275px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .rectangle-15 {
  position: absolute;
  width: 835px;
  height: 78px;
  top: 424px;
  left: 349px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .overlap-8 {
  position: absolute;
  width: 229px;
  height: 200px;
  top: 558px;
  left: 617px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .text-wrapper-20 {
  position: absolute;
  width: 185px;
  top: 4px;
  left: 32px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-21 {
  position: absolute;
  top: 60px;
  left: 48px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-22 {
  position: absolute;
  top: 112px;
  left: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-16 {
  position: absolute;
  width: 35px;
  height: 39px;
  top: 60px;
  left: 4px;
}

.desktop .rectangle-17 {
  position: absolute;
  width: 35px;
  height: 39px;
  top: 112px;
  left: 4px;
}

.desktop .overlap-9 {
  position: absolute;
  width: 229px;
  height: 200px;
  top: 558px;
  left: 892px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .text-wrapper-23 {
  position: absolute;
  width: 166px;
  top: 2px;
  left: 36px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-24 {
  position: absolute;
  top: 60px;
  left: 42px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-25 {
  position: absolute;
  top: 106px;
  left: 42px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-18 {
  position: absolute;
  width: 35px;
  height: 39px;
  top: 60px;
  left: 6px;
}

.desktop .rectangle-19 {
  position: absolute;
  width: 35px;
  height: 39px;
  top: 106px;
  left: 6px;
}

.desktop .overlap-10 {
  position: absolute;
  width: 229px;
  height: 200px;
  top: 558px;
  left: 1156px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}

.desktop .text-wrapper-26 {
  position: absolute;
  width: 166px;
  top: 2px;
  left: 46px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-27 {
  position: absolute;
  top: 66px;
  left: 46px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-28 {
  position: absolute;
  top: 114px;
  left: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-20 {
  position: absolute;
  width: 35px;
  height: 39px;
  top: 66px;
  left: 8px;
}

.desktop .rectangle-21 {
  position: absolute;
  width: 35px;
  height: 39px;
  top: 116px;
  left: 8px;
}

.desktop .rectangle-22 {
  position: absolute;
  width: 61px;
  height: 62px;
  top: 849px;
  left: 300px;
  background-color: #ffffff;
  border: 1.55px solid;
  border-color: #1e1e1e;
}
